@import "./App.css";

#col-1{
    width: 30%
}
#col-2{
    width: 30%
}
#col-3{
    width: 20%
}

#Title {
  padding-left: 7%;
}

#cart-section {
  width: 60%;
}

#checkout-section {
  width: 20%;
}


.course_image {
  width: 60%;
}

.remove-btn {
  text-decoration: none;
  color: var(--main-color);
}

#total {
  color: var(--second-font-color);
}

#checkout-btn {
  width: 80%;
}

/* start of styling Empty Cart component */
#keep-shopping-btn{
  width: 30%;
  margin-left: 33%;
}

/* mobile */
@media (max-width: 767px) {
  #keep-shopping-btn{
    width: fit-content;
    margin-left: 31%;
  }
}
/* end of styling Empty Cart component */


/* mobile */
@media (max-width: 767px) {
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cart-section {
    width: 90%;
  }

  #checkout-section {
    padding-top: 10%;
    width: 75%;
  }

  .course_image {
    width: 100%;
  }

  #col-2{
  padding-left: 5%;
}
}
