.custom-carousel-item {
  height: 32rem;
  background: var(--white-font-color);
  color: var(--white-font-color);
  position: relative;
  background-position: center;
  background-size: cover;
  background-color: #49bbbd;
}

.carousel-container {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  padding-bottom: 50px;
  color: var(--white-font-color);
}

.carousel-container h1 {
  width: 40%;
  color: var(--white-font-color);
}

.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
}

.cover-1 {
  background-image: url(../../../../public/icons/cover-1.svg) !important;
}

.cover-2 {
  background-image: url(../../../../public/icons/cover-2.svg) !important;
}

.cover-3 {
  background-image: url(../../../../public/icons/cover-3.svg) !important;
}

.custom-btn {
  margin-top: 70px;
}

.custom-btn a {
  margin-right: 10px;
  background-color: #75cdcf;
  border: none;
  text-decoration: none;
  color: var(--white-font-color);
  padding: 12px 40px;
  border-radius: 2px;
  font-size: 25px;
  font-weight: 700;
  transition-duration: 0.5s;
}
.custom-btn a:hover {
  background-color: var(--second-color);
  color: var(--main-color);
  transition-duration: 0.5s;
}
/* .btn-lg {
    width: 90px;
    height: 35px;
    font-size: 14px;
    padding: 0;
    margin: 0;
} */

/* Mobile */

@media (max-width: 767px) {
  .custom-carousel-item {
    height: 15rem;
  }

  .carousel-container h1 {
    width: 50%;
    color: #2a2f2f;
    font-size: 18px;
  }

  .cover-1 {
    background-image: url(../../../../public/icons/cover-mobile-1.svg) !important;
  }

  .cover-2 {
    background-image: url(../../../../public/icons/cover-mobile-2.svg) !important;
  }

  .cover-3 {
    background-image: url(../../../../public/icons/cover-mobile-3.svg) !important;
  }

  .custom-btn a:first-child {
    text-decoration: none;
    color: #fff;
    padding: 6px;
    border-radius: 5px;
    font-size: 12px;
  }

  .custom-btn a:last-child {
    text-decoration: none;
    color: #fff;
    padding: 7px;
    border-radius: 5px;
    font-size: 12px;
  }
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
  .custom-carousel-item {
    height: 25rem;
  }

  .cover-1 {
    background-image: url(../../../../public/icons/cover-tab-1.svg) !important;
  }

  .cover-2 {
    background-image: url(../../../../public/icons/cover-tab-2.svg) !important;
  }

  .cover-3 {
    background-image: url(../../../../public/icons/cover-tab-3.svg) !important;
  }

  .carousel-container h1 {
    width: 45%;
  }

  .custom-btn a:first-child {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }

  .custom-btn a:last-child {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
  }
}

/* Medium Screens */

@media (min-width: 992px) {
}

/* Large Screens */

@media (min-width: 1200px) {
}

/* Custom */

@media (max-width: 1199px) {
}
