.header {
  background-color: var(--navbar-color);
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 100px;
  z-index: 100;
  font-size: 17px;
  white-space: nowrap;
}
.custom-logo-nav {
  width: 200px !important;
}
.custom-item {
  list-style: none;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.my-navbar {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-branding {
  padding-right: 3vw;
}

.nav-branding img {
  width: 150px;
}

.nav-menu {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3.5%;
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
}
.nav-link:hover {
  color: var(--main-color);
}
.btn-register {
  transition: 0.3s ease;
  padding: 8px 12px;
  background-color: var(--main-color);
  color: var(--navbar-color);
  border-radius: 3px;
}
.btn-register:hover {
  transition: 0.3s ease;
  padding: 8px 12px;
  background-color: var(--main-color);
  color: var(--navbar-color);
  border-radius: 3px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.3s ease;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--main-font-color);
}

.flex-space {
  flex-grow: 2;
}

@media (max-width: 768px) {
  .header {
    padding: 0 20px;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: var(--navbar-color);
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }
}

/* Small Screens */

@media (min-width: 768px) and (max-width: 991px) {
  .header {
    padding: 0 40px;
  }
}
.btn_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  border: none !important;
}
.btn_dropdown:is(:hover, :active, :focus) {
  background-color: transparent !important;
  border: none;
}
.custom_item_dropDown {
  background-color: #fff !important;
}
.custom_item_dropDown:focus {
  background-color: #c6e1df !important;
}
